$siteSelectColor: #f16d7f;
$widthSite: 1140px;
$siteWidth1600: 1440px;
$widthProductCart: 360px;
$textColor: #5d5d5d;
$blockBackColor: #222;
$textBlackColor: #222;
$textWhiteColor: #fbfbfb;

$gapGrid: 30px;
$widthBurgerMenu: 232px;
